{% extends 'base.html.twig' %}

{% block title %}Banque{% endblock %}

{% block body %}

{% if app.user %}
        <div class="my-3 ">
            Bonjour {{ app.user.firstname }} {{ app.user.lastname }} <a href="{{ path('app_logout') }}" class="btn btn-dark">Se déconnecter</a>
        </div>
    {% endif %}
<div class="container text-center" >    
    <h2>Vos Comptes bancaires</h2>
    {% for account in accounts %} 
    <div class="row " >
        <div class="col-4 py-5">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-header"> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">type de compte : {{account.type}}</li>
                        <li class="list-group-item">numéro de compte : {{account.accountnumber}}</li>
                        <li class="list-group-item">nom : {{account.user.firstname}}</li>
                        <li class="list-group-item">prenom : {{account.user.lastname}}</li>
                        <li class="list-group-item">solde : {{account.amount}}€</li>
                        <li class="list-group-item">crée le : {{account.datecreation|date('d/m/Y')}}</li>
                        <a href="#" class="btn btn-dark my-3">voir</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endfor %}
{% endblock %}
