{% extends 'base.html.twig' %}

{% block title %}Banque{% endblock %}

{% block body %}

{% if app.user %}
        <div class="my-3 ">
            Bonjour {{ app.user.firstname }} {{ app.user.lastname }} <a href="{{ path('app_logout') }}" class="btn btn-dark">Se déconnecter</a>
        </div>
    {% endif %}
<div class="container text-center" id="ind" >    
    <h2 class="py-5">Vos Comptes bancaires</h2>
    <div class="row " >
    {% for account in accounts %} 
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card text-center">
                <div class="card-header"> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{account.type}}</li>
                        <li class="list-group-item">Compte numéro {{account.accountnumber}}</li>
                        <li class="list-group-item">Nom : {{account.user.firstname ~ ' ' ~ account.user.lastname}}</li>
                        <li class="list-group-item">Solde : {{account.amount}}€</li>
                        <li class="list-group-item">Créé le : {{account.datecreation|date('d/m/Y')}}</li>
                        <li class="list-group-item"><a href="{{path("deleteAccount", {id : account.id})}}" class="btn btn-dark px-5">Clôturer</a></li>
                        <li class="list-group-item"><a href="{{path('single', {id : account.id}) }}" class="btn btn-dark px-5">Voir</a></li>
                    </ul>
                </div>
            </div>
        </div>
     {% endfor %}   
    </div>
</div>
 
{% endblock %}
